html,
body {
  height: 100%; /* Asegura que el body ocupe toda la página */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Evita el scroll */
  color: white; /* Asegúrate de que el texto sea legible sobre la imagen */
}

body {
  background-color: #574636;
  background-image: url("../images/login.jpg"); /* Ruta desde la carpeta public */
  background-blend-mode: overlay;
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido en la página */
  align-items: center; /* Centra verticalmente el contenido en la página */
  padding: 20px;
  border-radius: 5px;
}

.container {
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido dentro del contenedor */
  align-items: center; /* Centra verticalmente el contenido dentro del contenedor */
  height: 50vh; /* Usa el 100% del alto de la ventana */
}

.header {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos dentro del header */
  justify-content: center; /* Centra horizontalmente el contenido del header */
  margin-bottom: 20px; /* Espacio debajo del header */
  margin-left: -100px;
}

.Titulo {
  display: flex;
  flex-direction: column; /* Para que los elementos se alineen uno debajo del otro */
  margin-left: 20px; /* Espacio entre la imagen y el título */
  text-align: center;
}

form {
  display: flex;
  flex-direction: column; /* Alinea los elementos en una columna (uno debajo del otro) */
  gap: 10px; /* Espacio entre los elementos */
  align-items: center;
}

input {
  padding: 10px;
  border: 2.5px solid #000000;
  border-radius: 5px;
  width: 300px;
}

button {
  display: flex;
  padding: 10px;
  border: none;
  border-radius: 40px;
  color: white;
  background-color: #907761;
  cursor: pointer;
  width: 100px;
  justify-content: center; /* Centra los botones horizontalmente */
  font-weight: bold; /* Aplica negrita al texto */
}

.logo {
  width: 130px; /* Ajusta el tamaño según sea necesario */
}

